{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.roles) }}

    
    {{ form_label(form.plainPassword.first) }}
    <div class="input-group mb-3">
        {{ form_widget(form.plainPassword.first) }}
        <span class="input-group-text" id="password-first" role="button"><i class="fas fa-eye"></i></span>
    </div>
    {{ form_errors(form.plainPassword.first) }}

    {{ form_label(form.plainPassword.second) }}
    <div class="input-group mb-3">
        {{ form_widget(form.plainPassword.second) }}
        <span class="input-group-text" id="password-second" role="button"><i class="fas fa-eye"></i></span>
    </div>
    {{ form_errors(form.plainPassword.second) }}

    {{ form_rest(form) }}
    
    <button class="btn btn-success btn-sm">Modifier</button>
{{ form_end(form) }}