{% extends 'base.html.twig' %}

{% block title %}{{ page.title }} | {{ parent() }}{% endblock %}

{% block header %}
	{% if settings.banner %}
        {% set banner_file = vich_uploader_asset(settings, 'bannerFile') %}
        {% set bg_header = 'background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(54, 54, 54, 0.3)),url("'~banner_file~'") center center / cover no-repeat;' %}
    {% else %}
        {% set bg_header = 'background:rgb(90 90 90)' %}
    {% endif %}

	<header class="header" style="{{bg_header}}">
		<div class="container">
			<div class="text-end">
				<p class="mb-0 text-decoration-underline">Page</p>
				<h1 class="display-3 mt-0">{{ page.title }}</h1>
			</div>
		</div>
	</header>
{% endblock %}

{% block body %}
    <div class="text-end mb-3 fs-5 icons-bar">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_page_admin_edit', {id: page.id}) }}" class="text-decoration-none" title="éditer">
                <i class="fas fa-edit fa-fw"></i>
            </a>
        {% endif %}
        <a href="javascript:print()" class="text-decoration-none" title="Imprimer">
            <i class="fas fa-print fa-fw"></i>
        </a>
    </div>
    
	{{ page.content|raw }}
{% endblock %}