{% extends 'admin_layout.html.twig' %}

{% block title %}Configurations | Administration{% endblock %}

{% block page_title %}Configurations et réglages{% endblock %}

{% block activeSettings %}active{% endblock %}

{% block breadcrumb_items %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-end">
            <li class="breadcrumb-item"><a href="{{ path('app_admin_dashboard') }}">Dashboard</a></li>
            <li class="breadcrumb-item active">Configurations</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <ul class="nav nav-pills bg-white mb-4 rounded" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="content-tab" data-bs-toggle="tab" data-bs-target="#content" type="button" role="tab" aria-controls="content" aria-selected="true">
                    Informations
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="images-tab" data-bs-toggle="tab" data-bs-target="#images" type="button" role="tab" aria-controls="images" aria-selected="false">
                    Bannière et logo
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="content" role="tabpanel" aria-labelledby="content-tab">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Informations générales</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.languageTranslatedName) }}</div>
                            <div class="col-md-6">{{ form_row(form.languageOriginalName) }}</div>
                        </div>
                        {{ form_row(form.languageDescription) }}
                        {{ form_row(form.languageAbout) }}
                    </div> 
                </div>
            </div>
            <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">Bannière</h2>
                            </div>
                            <div class="card-body">
                                {{ form_row(form.bannerFile) }}
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">Logo du site</h2>
                            </div>
                            <div class="card-body">
                                {{ form_row(form.faviconFile) }}
                                {{ form_rest(form) }}
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-2 border-0">
            <div class="card-body">
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("assets/ckeditor/ckeditor.js") }}"></script>
    <script>CKEDITOR.replace( 'settings_languageAbout' );</script>
{% endblock %}