<div class="modal fade" id="deleteModal{{ element.class ~ element.id }}" tabindex="-1" aria-labelledby="deleteModal{{ element.class ~ element.id }}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="deleteModal{{ element.class ~ element.id }}Label">Suppression</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-danger fw-bold" style="text-align: left">
                    Voulez-vous vraiment supprimer "<em>{{ element }}</em>" ? Attention, toute suppression est définitive !
                </p>
            </div>
            <div class="modal-footer">
                <form method="post" class="d-inline" action="{{ path(path, {'id': element.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ element.id) }}">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Annuler</button>
                    <button class="btn btn-danger btn-sm">Confirmer</button>
                </form>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ element.class ~ element.id }}">
    <i class="fas fa-trash"></i> Supprimer
</button>
