<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Administration{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/fontawesome-free/css/all.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/choicesjs/choices.min.css') }}">
		<link href="{{ asset('assets/DataTables/datatables.min.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ asset('assets/admin/admin.css') }}">
		<link rel="icon" href="/{{ app_favicon }}">
		{% block stylesheets %}{% endblock %}
	</head>
	<body class="bg-light">
		{% include "admin/components/_sidebar.html.twig" %}

		<div class="wrapper" id="wrapper">
			{% include "admin/components/_navbar.html.twig" %}

			<div class="container-fluid mt-2">
				<div class="row my-3">
					<div class="col-md-6 col-lg-8">
						<header>
							<h1 class="fs-2">{% block page_title %}Administration{% endblock %}</h1>
						</header>
					</div>
					
					<div class="col-md-6 col-lg-4">
						{% block breadcrumb_items %}{% endblock %}
					</div>
				</div>
			</div>

			<main class="container-fluid">
				{% block body %}{% endblock %}
			</main>
		</div>

		<script src="{{ asset('assets/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('assets/choicesjs/choices.min.js') }}"></script>
		<script src="{{ asset('assets/DataTables/jQuery-3.6.0/jquery-3.6.0.min.js') }}"></script>
		<script src="{{ asset('assets/DataTables/datatables.min.js') }}"></script>
		<script src="{{ asset('assets/admin/admin.js') }}"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
