{% extends 'admin_layout.html.twig' %}

{% block title %}Liste des pages{% endblock %}

{% block page_title %}Pages{% endblock %}

{% block body %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<div class="card">
    <div class="card-header">
        <div class="float-end">
            <a href="{{ path('app_page_admin_new') }}" class="btn btn-light btn-sm border"><i class="fas fa-plus-circle"></i> Ajouter</a>
        </div>
        <h2 class="card-title">Liste des pages</h2>
    </div>
    <div class="card-body">
        <table id="table" class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Lien</th>
                    <th data-orderable="false"></th>
                </tr>
            </thead>
            <tbody>
            {% for page in pages %}
                <tr>
                    <td>{{ page.id }}</td>
                    <td>{{ page.title }}</td>
                    <td>{{ page.slug }}</td>
                    <td class="text-end">
                        <div class="btn-group" role="group" aria-label="Actions">
                            <a href="{{ path('app_page', {'slug': page.slug}) }}" class="btn btn-light border btn-sm">
                                <i class="fas fa-book-reader"></i> Consulter
                            </a>
                            <a href="{{ path('app_page_admin_show', {'id': page.id}) }}" class="btn btn-light border btn-sm">
                                <i class="fas fa-eye"></i> Voir
                            </a>
                            <a href="{{ path('app_page_admin_edit', {'id': page.id}) }}" class="btn btn-light border btn-sm">
                                <i class="fas fa-pencil-alt"></i> Editer
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        $('#table').DataTable({
            pagingType: 'first_last_numbers',
            language: {
                url: '/assets/DataTables/i18n/fr-FR.json',
            },
        });
    });
</script>
{% endblock %}

